{
    debug
}

dockereni.francecentral.cloudapp.azure.com {
    reverse_proxy /lightweightcmis/* ged:8080
    handle_path /iam/* {
        rewrite * /{path}
        reverse_proxy iam:8080
    }
    reverse_proxy server:5000
}
